#playlistSidebar {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20vw;
}
#playlistSlider {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    transition: height 0.65s ease-in-out;
}
#playlistSlider.active {
    height: 100% !important;
}
.preSlider {
    height: 100%;
    width: 100%;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
}
.preSliderTitle {
    display: inline-block;
    font-size: 22px;
    font-family: "Droid Sans", sans-serif;
    color: #ffffff;
}
.preSliderBtn {
    display: inline-block;
    float: right;
    font-family: "Candara", sans-serif;
    font-size: 22px;
    color: #ffffff;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bolder;
    cursor: pointer;
}
.preSliderBtn:active {
    outline: 1px solid #cfcfcf;
}
.postSlider {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 762px) { /* Max mobile device viewport width */
    #playlistSidebar {
        display: none;
    }
    #playlistSlider {
        display: block;
    }
}