html, body {
}

#selectRoom {
    position: relative;
    top: 25vh;
}

#selectRoom .selectionBox:hover {
    background-color: rgba(46, 46, 46, 0.7) !important;
}

#selectRoom * {
    text-decoration: none !important;
}